/* Unique Tag style  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
    margin: 0 0 27px 0;
    color: white;
}
h2{
    font-size: 28px;
}
i{
    color: white;
    margin-left: 12px;
}

/* Copa America Style */
.copa-banner{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #2D25A0;
    width:1765px;
    height: 677px;
   
}
.copa-america{
    width: 500px;
    margin: 150px 0px 2px 150px;
}
.half-width{
    width: 50%;
    
}

/* Transition Transform & :hover Style Here */
.banner-img{
    width:600px;
    height: 500px;
    margin: 100px 0px 2px 20px;
    transition: width 4s, height 4s, transform 4s;
}
.banner-img:hover{
    width: 660px;
    height: 600px;
    transform:skewX(-20deg);
    transform: skewY(5deg);
}
.link-button{
    background-color: #E02C6D;
    color: white;
    text-decoration: none;
    padding: 10px 24px;
}

#transition:hover{
   font-size: 15px;
   color: rgb(0, 0, 0);
    background-color: rgb(23, 199, 31);
    border-radius: 5px;
}



/* All Player style's Here */
.players{
    margin: 70px 0px 0 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 31px;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;

}
.player{
    width: 330px;
    height: 600px;
    margin: 0;
    padding: 0;
}
.player img{
    margin: 15px 15px 0 15px;
    width: 300px;
    height: 256px;
    
}
.player-info{
    width: 300px;
    height: 160;
    display: flex;
    flex-direction: column;
    margin-left:15px ;
    text-align: justify;
}
.player p{
    font-size: 15px;
    font-weight: 400;
    color: #6c6c6c;
}
.box-shadow{
    box-shadow: 0 0 10px rgba(203, 216, 230, 0.973);
}

/* Bonus Section Style */
.fieldset1{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    margin-top: 50px;
    flex-direction: row;
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 30px;
    color: rgb(21, 172, 139);
    background-color: rgba(7, 19, 36, 0.945);
}
.fixture{

font-size: 20px;
text-align: center;
color: whitesmoke;
margin-left: auto;
margin-right: auto;
}
.team-flag img{
    width:200px;
    height: 100px;
}


/* Footer Style  */
footer{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0;
margin-top: 150px;
margin-bottom: 60px;
}
footer img{
    width: 480px;
    height: 110px;
}
footer i{
    color: lightslategray;
    width: 32px;
    height: 32px;
}
/* Mobile View  */
@media only screen and (max-width:768px) {

    .copa-banner{
        display:grid;
       grid-template-columns: repeat(1, 1fr);
        background-color: #2D25A0;
        height: 695px;
        width: 360px;
        padding-left: 22px;
        margin-left: auto;
        margin-right: auto;
    }
    .copa-america{
        margin: 50px 0 0 25px ;
    }
    h1{
        font-size: 36px;
        width: 300px;
        height: 210px;
    }

    .banner-img{
        width: 330px;
        height: 260px;
        margin: 20px 0 0 15px;
        transition: width 4s, height 4s, transform 4s;
        
    }
    .banner-img:hover{
        width: 350px;
        height: 320px;
        transform:skewX(-20deg);
        transform: skewY(5deg);    
    }
 /* All Player style's Here */
    .top-players{
        width: 360px;
        padding-left: 22px;
        margin-left: auto;
        margin-right: auto;
        }
    .players{
        margin: 40px 0px 0 0px;
        display: grid ;
        grid-template-columns: repeat(1, 1fr);
        width: 0;
    }

    .player p{
        font-size: 15px;
        font-weight: normal;
        color: #6c6c6c;
    }
    footer{
        margin-top: 50px;
       
    }
    footer img{
        width: 280px;
        height: 80px;
        padding-right: 30px;
    }

    /* Bonus Section Style */
.fieldset1{    
    width:auto ;
    margin-left: 60px;
}
.fixture{
font-size: 15px;
margin-left: 10px;
}
.team-flag img{
    width:50px;
    height: 80px;
}
}